.fProduct{
    width: 50%;
    display: flex;
    gap: 10px;
    margin: 10px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.addProduct{
    display: flex;
    width: 95%;
    justify-content: center;
    gap: 5px;
}
.addProduct > input{
    padding: 1px;
    height: 24px;
    border-radius: 5px;
    border: 0.5px black solid;
}
.categoriesInput{
    width: 75%;
}
.taxInput{
    width: 25%;
}
.fProduct > button{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #6A65FF;
    cursor: pointer;
    padding: 1px;
}