.container {
    width: 100%;
}

.tableBuy {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    margin: 2rem;
}

td {
    border-bottom: 1px solid #C5C5C5;
    height: 25px;
    padding: 3px;
}

th {
    border-bottom: 1px solid #C5C5C5;
    text-align: start;
    padding: 3px;
}
.thHour{width: 10%;}
.thDate{width: 10%;}
.thTotal{width: 13%;}
.thTax{width: 10%;}
#line1,
#line2 {
    position: relative;
}

#line1::before {
    content: "";
    position: absolute;
    left: 0;
    height: 50vh;
    border-left: 1px solid #C5C5C5;
}

#line2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 50vh;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
}