.tableHistory {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tableHistory table {
    width: 60%;
    margin: 2rem auto;
}
.thCode  { width: 25%; }
.thTax   { width: 25%; }
.thTotal { width: 25%; }
.thActions { width: 25%; }

.tdButton1 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.detail1 {
    visibility: hidden;
    background-color: #6A65FF;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 5rem;
    height: 20px;
}

.product1:hover .detail1 {
    visibility: visible;
}